h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;         
    min-height: 100vh;      
}

.left-column {
    flex: 1;                
    padding: 40px;
    
}

.right-column {
    flex: 1;                
    padding: 40px;
    
}

.right-column img {
    width: 400px;
}

@media (max-width: 800px) {

    .container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    
    .right-column img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .left-column {
        font-size: 18px;
        padding: 10px;
    }

    h1 {
        font-size: 50px;
    }
}


