h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 50px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;         
    min-height: 100vh;      
}

.left-column {
    flex: 1;                
    padding: 40px;
    
}

.right-column {
    flex: 1;                
    padding: 40px;
    




