

 

 hr{
    background-color: blue;
 }


    
 

 h3{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    color: red;
 }

 .row {
    display: flex;
    gap: 100px;
}

.row img {
    width: 350px;   
    height: 350px;  
    border-radius: 10px;
    background-color: WHITE;
}

.compositionimages{
    text-align: left;
    font-size: 30px;
    border-spacing: 20px;
}

body{background-color: lightgrey;}

@media (max-width:800px){

    .row{
        flex-direction: column;
        gap: 30px;
    }

    .row img{
        width: 80%;
        height: 280px
    }

    .compositionimages{
        font-size: 24px;
        text-align: center;
        image-center
    }
}


 

