

 

 hr{
    background-color: blue;
 }


    
 

 h3{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    color: red;
 }

 .row {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.row img {
    width: 350px;   
    height: 350px;  
    object-fit: cover;
    border-radius: 10px;
    background-color: WHITE;
}

.image-container{
    text-align: left;
    font-size: 30px;
    border-spacing: 20px;
}

body{background-color: lightgrey;}



 

