h1{
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    color: red;
}

h2{
    text-align: center;
    text-decoration: underline;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}

.storyboard-container{
    display: flex;          
    gap: 40px;               
    padding: 20px;
}

.StoryboardImage{    
    max-width: 40%;         
}

.text-right{
    text-align: left;       
       
}   

p, p2, p3{
   font-size: 20px;
}

@media (max-width: 800px){

    .StoryboardImage{
        height: auto;
        width: 100%;
    }


    .text-right{
        text-align: left;  
        font-size: 20px;
    }

    .storyboard-container{
        gap: 20px;
        padding: 10px;
    }
}