h1 {
    text-align: center;
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    min-height: 80vh;  
}

.leftpanel {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-right: 2px solid #ddd;
}

.StoryboardImage{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.rightpanel {
    flex: 1;
    padding: 40px;
    background: white;
}

.rightpanel h2 {
    margin-top: 0;
}