h1{
    text-align: center;
    font-size: 40px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.storyboard-container{
    display: flex;           
    gap: 20px;               
    padding: 20px;
}

.StoryboardImage{    
    max-width: 40%;         
}

.text-right{
    text-align: right;       
       
}   

p, p2, p3{
   font-size: 20px;
}