h1 {
    text-align: center;
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.StoryboardImage {
    float: left;        
    max-width: 40%;
    height: auto;
    margin-right: 20px;  
}

.text-right {
    text-align: right;   
}