.heading{
    text-align: center;
    color: red;
    font-size: 100px;

 }

 .row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.row img {
    width: 250px;   
    height: 250px;  
    object-fit: cover;
    border-radius: 10px;
}
