.heading{
    text-align: center;
    color: red;
    font-size: 100px;
    text-decoration: underlines;

 }

 .introduction{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
 }

 h3{
    font-size: 50px;
    text-decoration: underline;
 }

 .row {
  display: flex;
  gap: 20px;
}

.image-container {
  text-align: center;
  width: 20px;
  height: 10px;
}


