.box {
  width: 1400px;                 
  padding: 50px;                
  border: 2px solid;      
  border-radius: 10px;          
  background-color: white;    
  text-align: center;           
  margin: 20px auto; 
}

h2{
    color: red;
    font-size: 80px;
    text-decoration: underline;
}

p{
    font-size: 30px;
}

body{
    background-color: lightgrey;

}

.btn {
  display: inline-block;
  padding: 30px 40px;            
  background-color: red;      
  color: white;                   
  text-decoration: none;        
  border-radius: 5px;             
  font-weight: bold;   
}

.btn:hover {
  background-color: red;

}

a{
    text-align: center;
}