.box {
  width: 1000px;                 
  padding: 20px;                
  border: 2px solid;      
  border-radius: 10px;          
  background-color: white;    
  text-align: center;           
  margin: 20px auto; 
}