  

    
.box{
  width: 1400px;                 
  padding: 50px;                
  border: 2px;      
  border-radius: 10px;          
  background-color: white;    
  text-align: center;           
  margin: 20px auto; 
}

h2{
    color: red;
    font-size: 80px;
    text-decoration: underline;
}

body{
    background-color: lightgrey;

}


.ButtonGroup{
    text-align: center;
}

.btn{
    display: inline-block; 
    padding: 20px 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: -1px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

@media (max-width: 800px) {
    .box{
        max-width: 90%;
        padding: 20px;
    }

    h2{
        font-size: 40px;
    }

    .btn{
        width: 80%;
        margin: 10px auto;
        
    }
}


    




