h1{
    text-align: center;
    font-size: 40px;

}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    
}

.container {
    display: flex;
    height: 50vh;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 40px;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-right: 2px solid #ddd;
}

.wireframe-img {
    width: 40%;
    max-width: 250px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #eee;
}

.right-panel {
    background: white;
}

.right-panel h1 {
    margin-top: 0;
}

.right-panel ul {
    margin-top: 20px;
}